*{
    outline:0;
    margin:0;
    padding:0;

}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background: -webkit-linear-gradient(left, #99a6ff , #ffaabb);
}